// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';
@import 'ultimenu';
@import 'ultimenu-custom';
// /* Extra small devices (phones, less than 768px) */
// /* No media query since this is the default in Bootstrap */

// Small devices (tablets, 768px and up) 
// @media (min-width: @screen-sm-min) { ... }

//  Medium devices (desktops, 992px and up) 
// @media (min-width: @screen-md-min) { ... }

// Large devices (large desktops, 1200px and up) 
// @media (min-width: @screen-lg-min) { ... }

// ***************
// ***************
// Global Elements

.main-container {
  padding: 0px;
}
.page-header {
  display: none;
}
#navbar {
  margin: 0px;
  border-bottom: 1px solid #A2d729;
  @media (min-width: @screen-lg-min) {
    height: 75px
  }
}

body {
  font-family: 'Reem Kufi'; 
  // background-color: #342E37; 
  background-color: #006e90;
}

#block-front-masthead {
  text-align: center;
  font-size: 24px;
  color: #f18f01;
  // Removed when I swapped out body bg-color
  // color: #A2D729;
  // background-color: #2A2D34;
  height: 75vh;
  @media (min-width: @screen-lg-min){
    font-size: 28px;
  }
  .masthead-row {
    padding-top: 20vh;
    h1 {
      font-size: 40px;
      font-style: italic;
      font-weight: 800;
      @media (min-width: @screen-lg-min) {
        font-size: 80px;
      }
    }
    h4 {
    	@media (min-width: @screen-lg-min) {
    		font-size: 25px;
    	}
    }
  }
}

#block-frontwhatwedo {
  text-align: center;
  font-size: 24px;
  color: #A2D729;
  height: 75vh;
   // Removed when I swapped out body bg-color
  // background-image: url('/themes/SG/images/circuitboard.jpg');
  // background-size: cover;
  // background-position: center center;
  height: 75vh;
  @media (min-width: @screen-lg-min){
    font-size: 28px;
  }
  .what-we-do-row {
    text-align: center;
    @media (min-width: @screen-lg-min) {
      // padding-top: 20vh;
      p {
        font-style: italic;
      }
      h2 {
        font-size: 36px;
        @media (min-width: @screen-lg-min) {
          font-size: 50px;
        }
      }
    }
  }


}