// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// 
// Bootstrap Breakpoint Variables
// 

// Small devices (tablets, 768px and up) 
// @media (min-width: @screen-sm-min) { ... }
@screen-sm-min: 768px;

//  Medium devices (desktops, 992px and up) 
// @media (min-width: @screen-md-min) { ... }
@screen-md-min: 992px;

// Large devices (large desktops, 1200px and up) 
// @media (min-width: @screen-lg-min) { ... }
@screen-lg-min: 1200px;



section.block-ultimenu {
	left: 50%;
}
.ultimenu .ultimenu__link {
	font-family: 'Reem Kufi';
	color: #A2D729;
 	font-weight: bold; 
 	letter-spacing: 1.1px;
	@media (min-width: @screen-sm-min) {
		font-size: 18px;
	}
	li a {
		font-size: 24px;
	}
}
	

.ultimenu__flyout .ultimenu__region .block-block-content {
	.ultimenu-sub-nav {
		font-size: 24px;
		a:hover {
			text-decoration: none;
		}

	}

}